
    <!--contact-->
    <div class="contact">
        <div class="overlay">
            <div class="content">
                <h2 class="upper">say <span class="main-color">hello</span></h2>
                <h3>We're Here to Help!</h3>
                <p>We're friendly and available to chat.Reach out to us anytime and we'll<br> happily answer your questions</p>

                <form>
                    <input type="email" class="mail" placeholder="     Your Email">
                    <input type="text" class="subject" placeholder="     Subject"><br />
                    <textarea class="message" placeholder="Message"></textarea>
                </form>
                <div class="under">
                    <button class="upper">Send</button>
                    <div class="icons">
                        <i class="fa fa-facebook fa-2x"></i>
                        <i class="fa fa-twitter fa-2x"></i>
                        <i class="fa fa-google-plus fa-2x"></i>
                        <i class="fa fa-linkedin fa-2x"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--end contact-->
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/plugins.js"></script>
