
<DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>Help</title>
        <link href="~/Content/fontawesome/font-awesome.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/style_div_fade.css" rel="stylesheet" />
    </head>
    <body style="overflow:hidden;">
        <div class="container" style="overflow-y:scroll;max-height:550px;margin-top:60px">  
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                This section contains a wealth of information, related to <strong>Tabless Application</strong> and its store. If you cannot find an answer to your question,
                make sure to contact us.
            </div>
            <div class="item first">
                <h4>Description Video</h4>
                <span>
                    <i class="downicon fa fa-play fa-lg"></i>
                </span>
                <div class="clear"></div>
                <div class="content show">
                   video
                </div>
            </div>
            <div class="item first">
                <h4>Register</h4>
                <span>
                    <i class="downicon  fa fa-play fa-lg"></i>
                </span>
                <div class="clear"></div>
                <div class="content show">
                    
                    <p>1- Go to <b>register</b> link <a href="http://localhost:37276/Account/Register">register</a></p>
                    <p>2- Enter the correct information</p>
                    <p>3- Click the <b>register</b> button </p>
                    
                </div>
            </div>
            <div class="item first">
                <h4>Login</h4>
                <span>
                    <i class="downicon  fa fa-play fa-lg"></i>
                </span>
                <div class="clear"></div>
                <div class="content show">
                    <p>1- Go to <b>login</b> link <a href="http://localhost:37276/Account/Login">login</a></p>
                    <p>2- Enter the correct username and password</p>
                    <p>3- Click the <b>login</b> button </p>
                </div>
            </div>
            <div class="item first">
                <h4>Change Image</h4>
                <span>
                    <i class="downicon fa fa-play fa-lg"></i>
                </span>
                <div class="clear">
                    
                </div>
                <div class="content show">
                    <p>1- Click the <b>Acccount</b> under your name dropmenu in the home page</p>
                    <p>2- Click <b>choose image </b> selector</p>
                    <p>3- Select the image you want and click <b>ok</b></p>
                    <p>4- Click <b>create</b> </p>
                   
                </div>
            </div>
            <div class="item first">
                <h4>Change Password</h4>
                <span>
                    <i class="downicon  fa fa-play fa-lg"></i>
                </span>
                <div class="clear"></div>
                <div class="content show">
                    <p>1- Click <b>Setting</b> in the top corner of your Home Page</p>
                    <p>2- Click <b>Change Your Password</b></p>
                    <p>3- Enter Old password,new password and confirmation</p>
                    <p>4- Click <b>Change Password</b></p>
                </div>
            </div>
            <div class="item second">
                <h4>Connect Facebook</h4>
                <span>
                    <i class="downicon  fa fa-play fa-lg"></i>
                </span>
                <div class="clear"></div>
                <div class="content show">
                    <p>1- Click on <b>Manage</b> from Home page top corner</p>
                    <p>2- Click <b>Facebook not connected </b> and authorize facebook account</p>
                    

                </div>
            </div>
            <div class="item second">
                <h4>Connect Twitter</h4>
                <span>
                    <i class="downicon fa fa-play fa-lg"></i>
                </span>
                <div class="clear"></div>
                <div class="content show">

                    <p>1- Click on <b>Manage</b> from Home page top corner</p>
                    <p>2- Click <b>Twitter not connected </b> and authorize Twitter account</p>
                </div>
            </div>
            <div class="item second">
                <h4>Connect Google+</h4>
                <span>
                    <i class="downicon  fa fa-play fa-lg"></i>
                </span>
                <div class="clear"></div>
                <div class="content show">

                    <p>1- Click on <b>Manage</b> from Home page top corner</p>
                    <p>2- Click <b>Google+ not connected </b> and authorize Google+ account</p>
                </div>
            </div>
            <div class="item second">
                <h4>Show Facebook Posts</h4>
                <span>
                    <i class="downicon  fa fa-play fa-lg"></i>
                </span>
                <div class="clear"></div>
                <div class="content show">
                    <p>1- Click on <b>Home</b> from Page header</p>
                    <p>2- Click <b>Facebook Tap </b> and Posts appers</p>
                </div>
            </div>
            <div class="item second">
                <h4>Show Twitter Posts</h4>
                <span>
                    <i class="downicon fa fa-play fa-lg"></i>
                </span>
                <div class="clear"></div>
                <div class="content show">
                    <p>1- Click on <b>Home</b> from Page header</p>
                    <p>2- Click <b>Twitter Tap </b> and Posts appers</p>
                </div>
            </div>
            <div class="item second">
                <h4>Show Google+ Posts</h4>
                <span>
                    <i class="downicon  fa fa-play fa-lg"></i>
                </span>
                <div class="clear"></div>
                <div class="content show">

                    <p>1- Click on <b>Home</b> from Page header</p>
                    <p>2- Click <b>Google+ Tap </b> and Posts appers</p>
                </div>
            </div>
            <div class="item third">
                <h4>Post to Networks</h4>
                <span>
                    <i class="downicon  fa fa-play fa-lg"></i>
                </span>
                <div class="clear"></div>
                <div class="content show">
                    <p>1- Click on <b>Home</b> from Page header</p>
                    <p>2- Enter Your post and select Networks From Droplist and click <b>Post </b> </p>
                </div>
            </div>
           

            <section class="up"><i class="fa fa-chevron-up fa-lg"></i></section>

        </div>
        <script src="~/Scripts/jquery-3.1.0.min.js"></script>
        <script src="~/Scripts/plugin_div_fade.js"></script>
    </body>
</html>
