/*Global*/
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-color{
    color: #f7600e
}
/*End Global*/







/*start contact*/
.contact{
    background-image: url(../images/contact.jpg);
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size: cover; 
    font-family:  sans-serif,Serif;
}
.contact .overlay{
    background-color: rgba(55, 61, 65,0.8);
    width: 100%;
    height: 100%;
    color: #FFF;
    padding: 80px 0px;
    text-align: center;
        
}
.contact h2{
    font-size: 30px;
    margin-bottom: 30px;
}
.contact h3{
    font-size: 30px;
    font-weight: normal;
}

.contact p{
    margin: 12px 0px 70px 0px;
}

.contact form input{
    width: 34%;
    color: #333;
    height: 40px;
    border: 0;
    border-radius: 10px;
    
}
.contact form input:last-of-type{
   margin-left: 2%
    
}
.contact form textarea{
    width: 70%;
    color: #333;
    height: 200px;
    border: 0;
    border-radius: 10px;
    margin: 20px 0px;
}

.contact .under{
    overflow: hidden;
    width: 70%;
    margin: 0px auto;
}

.contact .under button{
    float: left;
    margin-right: 30%;
    width: 25%;
    background: #f7600e;
    padding: 15px 0px;
    border: 0;
    border-radius: 10px;
}
.contact .under button:hover{   
    background: #fff;  
    color: #f7600e;
}

.contact .under .icons{
    text-align: right;
    float: right;
    width: 40%;
}

.contact .under .icons i{    
   width: 50px;
   height: 50px;
   line-height: 50px;
   border-radius: 50%;
   color: #FFF;
   text-align: center;
   margin-left: 10px;
    
}

.contact .under .icons i.fa-facebook{    
  background-color: #3b5998;
}
.contact .under .icons i.fa-twitter{    
  background-color: #1da1f2;
}
.contact .under .icons i.fa-google-plus{    
  background-color: #dd4b39;
}
.contact .under .icons i.fa-linkedin{    
  background-color: #0082a0;
}
/*end contact*/
